<nav *ngIf="!embed" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <span class="navbar-brand">#Tools</span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a [routerLink]="['/']" class="nav-link " [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Home</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/servers']" class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Servers</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/i-line']" class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">I-Lines</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/channels']" class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Channels</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <router-outlet></router-outlet>
</div>

<footer class="footer text-center py-3 mt-4">
  <div class="container">
    <p class="footer-text mb-0 small">
      &copy; {{ currentYear }} #Tools &#64; IRCnet - by doni 
      (<a href="mailto:doni@irc.it">doni&#64;irc.it</a>)
    </p>
  </div>
</footer>