<!-- Testi introduttivi in inglese -->
		<div class="intro-text">
		<h2>Welcome!</h2>
			<p>This is the homepage of channel <strong>#Tools</strong> on <strong>IRCnet</strong>.</p>
			
			<p>Services available directly on this website:</p>
			<ul>
				<li><a href="/servers">Server List</a> (Continuously updated every 10 seconds)</li>
				<li><a href="/channels">Channel List</a> (Live data)</li>
				<li><a href="/i-line">I-Line Lookup</a> (Check which servers you can connect to)</li>
			</ul>
			<p>Other features are available exclusively on the channel by sending commands (see below).<br>We invite you to join us on IRCnet in the #Tools channel.</p>
		</div>

<br>
<div class="overflow-x-auto" tabindex="0">
<h4>List of bot commands:</h4>
<table class="table table-bordered table-striped w-100%">
	<thead>
		<tr>
			<th data-label="Command" scope="col">Command</th>
			<th data-label="Description" scope="col">Description</th>
			<th data-label="Usage" scope="col">Usage</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td data-label="Command">iline</td>
			<td data-label="Description">Shows IRCnet server I-lines</td>
			<td data-label="Usage"><span>!iline &lt;none/nick/host&gt;</span></td>
		</tr>
		<tr>
			<td data-label="Command">server</td>
			<td data-label="Description">Shows linked servers</td>
			<td data-label="Usage"><span>!server &lt;tld/sid/open/sasl&gt;</span></td>
		</tr>
		<tr>
			<td data-label="Command">ip</td>
			<td data-label="Description">Resolves IPv4/6 and shows whois</td>
			<td data-label="Usage"><span>!ip &lt;ip/host&gt; </span></td>
		</tr>
		<tr>
			<td data-label="Command">splits</td>
			<td data-label="Description">Shows the current server splits (alert enabled on channel)</td>
			<td data-label="Usage"><span>!splits &lt;none&gt;</span></td>
		</tr>
		<tr>
			<td data-label="Command">kills</td>
			<td data-label="Description">Shows the last 3 kills from IRCops (alert enabled on channel)</td>
			<td data-label="Usage"><span>!kills &lt;none&gt;</span></td>
		</tr>
		<tr>
			<td data-label="Command">collide</td>
			<td data-label="Description">Shows the last 3 nick collisions</td>
			<td data-label="Usage"><span>!collide &lt;nick&gt;</span></td>
		</tr>
		<tr>
			<td data-label="Command">ircop</td>
			<td data-label="Description">Shows online IRCops</td>
			<td data-label="Usage"><span>!ircop &lt;server&gt;</span></td>
		</tr>
		<tr>
			<td data-label="Command">uptime</td>
			<td data-label="Description">Shows server uptime</td>
			<td data-label="Usage"><span>!uptime &lt;server&gt;</span></td>
		</tr>
	</tbody>
</table></div>
